.chart-container {
    width: 100%; /* Set width to 100% */
    max-width: 5000px; /* Set maximum width if needed */
    max-height: 5000px; /* Set maximum width if needed */
    height: 500px; /* Set height as needed */
    overflow-x: auto; /* Add horizontal scrollbar */
  }