@import "../../../../assets/scss/utils/variables.scss";

h5,h6,label  {
    color:#000 !important;
}


.action {
    display: flex;
    i {
        cursor: pointer;
        display:inline-block;
        border:2px solid transparent;
        border-radius: 50%;
        transition:  all 0.3s ease;
    
        padding: 8px;

        &:hover {
            background-color: $light-gray;
            color:gray;
        }
    

    }
    .pdf {
      i {
        font-size: 20px;
        color: $dark-color;
      }
    }
    .edit {
      margin-right: 5px;
      i {
        color: $success-color;
      }
      [dir="rtl"] & {
        margin-left: 5px;
      }
    }
    .delete {
      i {
        color: $danger-color;
      }
    }
  }
  :host ::ng-deep .custom-pagination .ngx-pagination {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  :host ::ng-deep .custom-pagination .ngx-pagination .pagination-previous,
  :host ::ng-deep .custom-pagination .ngx-pagination .pagination-next {
    flex: 1;
    text-align: center;
  }
  
  :host ::ng-deep .custom-pagination .ngx-pagination .pagination-previous a,
  :host ::ng-deep .custom-pagination .ngx-pagination .pagination-next a {
    margin: 0;
  }
  
  :host ::ng-deep .custom-pagination .ngx-pagination .ngx-pagination__page-link {
    min-width: 30px;
  }

.comments ,.select {
    box-shadow: none;
    border-color: #efefef;
    background-color: #fff;
    font-size: 14px;
    color: #898989;
    padding: 12px 10px;
    box-shadow: none;
}
hr {
    color: $dark-border-color;
}

/* Default styles for the form inputs */
.form-group {
  margin-bottom: 10px; /* Add some bottom margin between inputs */
}

/* Media query for screens smaller than 576px (extra small devices) */
@media (max-width: 575.98px) {
  /* Override the default display of table cells to stack vertically */
  table tbody tr td {
    display: block;
    width: 100%; /* Make each cell occupy the entire width */
    clear: both; /* Clear any floating elements */
    margin-bottom: 10px; /* Add some bottom margin between rows */
  }

  /* Display inputs inline */
  table tbody tr td input {
    display: inline-block;
  }
}



.multi-select {
  position: relative;
  display: inline-block;
}

.selected-options {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
}

.option {
  padding: 5px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}


.checked-border{
  border:2px solid $success-color !important;
}.invoice-container {
  font-family: Arial, sans-serif;
  width: 600px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px;
  border: 1px solid #000;
}

.invoice-header, .invoice-footer {
  text-align: center;
  padding: 10px;
}

.customer-info, .contract-details {
  padding: 10px;
  border: 1px solid #000;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.customer-id, .contract-info {
  background-color: #FFD700;
  padding: 10px;
  font-weight: bold;
}

.qr-code, .customer-silhouette, .car-image {
  width: 50px;
  height: 50px;
  margin: 10px 0;
}

.payment-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.payment-table th, .payment-table td {
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
}

.payment-table th {
  background-color: #FFD700;
}

.highlight {
  background-color: #FFFF00;
}

.totals {
  font-weight: bold;
}
.list-group-light .list-group-item {
  color: #000;
}