<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="edit-profile card">
    <div class="card-header">
      <h4 class="card-title mb-0">Edit Customer</h4>

    </div>
    <form
      [formGroup]="customerForm"
      (ngSubmit)="updateCustomer()"
      class="theme-form mega-form"
    >
      <div class="row">
        <div class="col-xl-4">
          <div class="card-body">
            <div class="row mb-2">
              <div class="profile-title">
                <div class="media">
                  <ngx-dropzone (change)="onSelect1($event)" [multiple]="true">
                    <ngx-dropzone-label>
                        <div class="dz-message needsclick">
                          <i class="icon-cloud-up"></i>
                          <h6>Drop files here or click to upload.</h6>
                        </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of nameArray" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                  </ngx-dropzone>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="card-body">
            <div class="row">
              <div class="info-block">
                <h6>Identification</h6>
                <div class="mb-3">
                  <label class="form-label">Passport No</label>
                  <input
                    class="form-control"
                    formControlName="passport_number"
                    type="text"
                    placeholder="Passport No"
                    [value]="existingCustomer.passport_number"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">ID No</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="id_number"
                    placeholder="ID No"
                    [value]="existingCustomer.id_number"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Pass expiry</label>
                  <input
                    class="form-control"
                    formControlName="passport_expiry"
                    type="date"
                    [value]="existingCustomer.passport_expiry"
                  />
                </div>
              </div>

              <!-- Main Section -->
              <div class="info-block">
                <h6>Main</h6>
                <div class="mb-3">
                  <label class="form-label">Title</label>
                  <input
                    class="form-control"
                    formControlName="title"
                    type="text"
                    placeholder="Title"
                    [value]="existingCustomer.title"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Fullname</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Fullname"
                    formControlName="fullName"
                    [value]="existingCustomer.fullName"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Nationality</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Nationality"
                    formControlName="nationality"
                    [value]="existingCustomer.nationality"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Date of birth</label>
                  <input
                    type="date"
                    name="date_start"
                    class="form-control"
                    formControlName="date_birth"
                    [value]="existingCustomer.date_birth"
                  />
                </div>
              </div>
              <!-- Address Section -->
              <div class="info-block">
                <h6>Address</h6>
                <div class="mb-3">
                  <label class="form-label">QAR Address</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="QAR Address"
                    formControlName="QAR_address"
                    [value]="existingCustomer.QAR_address"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Permanent Address</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Permanent Address"
                    formControlName="permanent_address"
                    [value]="existingCustomer.permanent_address"
                  />
                </div>
              </div>

              <!-- Contact Section -->
              <div class="info-block">
                <h6>Contact</h6>
                <div class="mb-3">
                  <label class="form-label">Reference Person name and Mobile</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="person_name"
                    placeholder="Reference Person name and Mobile"
                    [value]="existingCustomer.person_name"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Home country Telephone and Mobile</label>
                  <input
                    class="form-control"
                    formControlName="home_country"
                    type="text"
                    placeholder="Home country Telephone and Mobile"
                    [value]="existingCustomer.home_country"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input
                    class="form-control"
                    type="email"
                    placeholder="Email"
                    formControlName="email"
                    [value]="existingCustomer.email"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Mobile</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Mobile"
                    formControlName="mobile"
                    [value]="existingCustomer.mobile"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Telephone</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Telephone"
                    formControlName="telephone"
                    [value]="existingCustomer.telephone"
                  />
                </div>
              </div>
              <!-- Driver License Section -->
              <div class="info-block">
                <h6>Driver license</h6>
                <div class="mb-3">
                  <label class="form-label">No</label>
                  <input class="form-control" type="text" placeholder="No" formControlName="license_number" [value]="existingCustomer.license_number"/>
                </div>
                <div class="mb-3">
                  <label class="form-label">Issued by</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Issued by"
                    formControlName="issued_by"
                    [value]="existingCustomer.issued_by"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Issued on

                  </label>
                  <input
                    class="form-control"
                    type="date"
                    placeholder="Issued on"
                    formControlName="issued_on"
                    [value]="existingCustomer.issued_on"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label">Expiry</label>
                  <input
                    class="form-control"
                    type="date"
                    placeholder="Expiry"
                    formControlName="expiry_date"
                    [value]="existingCustomer.expiry_date"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row mb-2">
          <div class="col-md-3 p-3">
            <button class="btn btn-primary w-100">Save Changes</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Container-fluid Ends-->
