<app-breadcrumb
  [title]="'Rented Cars'"
  [items]="['Forms', 'Form Layout']"
  [active_item]="'Rented cars Page'"
></app-breadcrumb>

<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-xl-12">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-6">
                    <app-search></app-search>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <div *ngIf="rentedCars.length > 0; else noData">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>

                      
                        <tr>
                          <th scope="col">Car</th>
                          <th scope="col">Plate</th>
                          <th scope="col">Year</th>
                          <th scope="col">Insurance</th>
                          <th scope="col">Car_out</th>
                          <th scope="col">Car_back</th>
                          <th scope="col">Days</th>
                          <th scope="col">Price</th>
                          <th scope="col">Sum</th>
                          <th scope="col">payable</th>
                          <th scope="col">Status</th>
                          <th scope="col">Contracy_type</th>
                          <th scope="col">Rent Count</th> 
                          <!-- <th scope="col">Customer</th>  -->
                          "
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let customer of rentedCars
                              | filter
                                : searchQuery
                                : ['car', 'code', 'plate', 'customer']
                          "
                        >
                          <th scope="row">{{ customer.car.model }}</th>
                          <td>{{ customer.car.plate }}</td>
                          <td>{{customer.car.year}}
                            <!-- {{
                              customer.role === 1
                                ? "Admin"
                                : customer.role === 2
                                ? "Editor"
                                : "Viewer"
                            }} -->
                          </td>
                          <td>{{ customer.car.insurance | date }}</td>
                          <td>{{ customer.car_out | date }}</td>
                          <td>{{ customer.car_back | date }}</td>
                          <td>{{ customer.daily_val1 }}</td>
                          <td>{{ customer.daily_val2 }}</td>
                          <td>{{ customer.daily_result }}</td>
                          <td>{{ customer.payable }}</td>
                        
                          <td>
                            <span class="badge rounded-pill d-inline"
                                  [class.badge-warning]="customer.payable === customer.sum"
                                  [class.badge-primary]="customer.payable !== customer.sum">
                              <span *ngIf="customer.payable === customer.sum" style="color: white;">{{ 'Paid Contract' }}</span>
                              <span *ngIf="customer.payable !== customer.sum" style="color:white">{{ 'Not completed' }}</span>
                            </span>
                          </td>
                          
                        
                          <td>{{ customer.status_contract  }}</td>
                          <!-- <td>{{ customer.customer.fullName  }}</td> -->

                          <td>{{customer.count}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <ng-template #noData>
                  <div class="alert alert-light">
                    <p>Rented cars not found.</p>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="chart-container" style="height: 400px;"></div>
    </div>
  </div>
</div>