<app-breadcrumb
  [title]="'Contracts Page'"
  [items]="['Forms', 'Form Layout']"
  [active_item]="'Contracts Page'"
></app-breadcrumb>


  
  <div class="container-fluid">
    <div class="row">
  
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 xl-100 box-col-12">
          <div *ngIf="contracts.length > 0; else noData">
            <div class="card" *ngFor="let item of contracts">
              <div class="job-search">
                <div class="card-body">
                  <div class="media">
                    <div class="media-body">
                      <h6 class="f-w-600">
                        <span>Serial: {{ item.data?.serial }}</span>
                        <span class="badge badge-primary pull-right">Status: {{ item.data?.status }}</span>
                      </h6>
                      <p>Version: {{ item.data?.version }}</p>
                      <p>Location: {{ item.data?.location }}</p>
                      <p>Car Out: {{ item.data?.car_out | date : 'yyyy-MM-dd' }}</p>
                      <p>Car Back: {{ item.data?.car_back | date : 'yyyy-MM-dd' }}</p>
                
                  <p>
                    Sponsor: {{ item.data?.sponsor }}
                  </p>
                  <p>
                    Days: {{ item.data?.days }}
                  </p>
            
                
                          <p>Daily: {{ item.data?.car.daily | currency }}</p>
                          <p>Weekly: {{ item.data?.car.weekly | currency }}</p>
                          <p>Monthly: {{ item.data?.car.monthly | currency }}</p>
                          <p>Annual: {{ item.data?.car.annual | currency }}</p>
     
                  
                  <div class="row">
                    <div  class="alert bg-light">
                   <span class="text-black">
                    Rent Type : {{
                      item.data?.status_contract
                    }}
                   </span>
                    </div>
                  </div>
                </div>    </div>
              </div>
              </div>
            </div>
          </div>
          <ng-template #noData>
            <div class="alert alert-light">
              <p>Backup contract not found.</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    
    </div>
  </div>
  
